<div style='float:right; margin:5px'><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></div>
<div style='float:right; margin:5px'><%= link_to 'Messages', admin_messages_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Comments', admin_comments_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Yochats', admin_yochats_path %></div>
<div style='float:right; margin:5px'><%= link_to 'Users', admin_users_path %></div>

<h1>SeeYo Secrets</h1>
<h2>List of Yochats</h2>
<% @yochats.each do |yochat| %>
    <div style='background-color: #CCF; margin:10px; padding: 7px; border-radius: 5px'>
        <div style='position:relative; float:left; left:-10px; top:-10px'><%= yochat.id %></div>
        <div style='float: right'><%= yochat.created_at %></div>
        <strong><%= yochat.user.information.username %></strong>
        <div style='font-family:Arial; padding-left: 15px'><%= simple_format(yochat.content) %></div><%= link_to 'edit', edit_admin_yochat_path(yochat) %>
    </div>
<% end %>
<hr/>
<%= paginate @yochats %>
