<div class="row" id="comment_div<%= comment.id %>">
  <div class="col-md-12">
    <div class="row-fluid">
      <div class="col-md-2">
        <%= image_tag("head.jpg") %>
      </div>
      <div class="col-md-10">
        <%= link_to comment.user.information.username, '#' %>
        <span class="text-muted" style="float: right"><%= comment.updated_at %></span>
        <p><%= comment.content %></p>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <%= button_to 'reply', edit_yochat_comment_path(@yochat, comment.user), remote: true, :method => :get, :class => "btn btn-default btn-xs" %>
          </div>
          <% if comment.user.id == @user.id %>
          <div class="btn-group" role="group">
          <%= button_to 'Delete', yochat_comment_path(comment.yochat, comment), :method => :delete, remote: true, :class => "btn btn-default btn-xs" %>
          </div>
          <% end %>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>